.lead__title {
    color: #FFFFFF;
    max-width: 720px;
    font-weight: 900;
    font-size: 94px;
    line-height: 100px;
    text-align: center;
    margin-top: 56px;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
        margin-top: 48px;
    }
}

@media screen and (min-width: 731px) and (max-width: 1023px) {
    .lead__title {
        margin-top: 48px;
    }

}


@media screen and (min-width: 320px) and (max-width: 730px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-top: 48px;
    }

}