.intro {
    display: flex;
    flex-direction: column;
    margin-left: 148px;
    text-align: left;
    margin-left: 148px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .intro {
        margin: auto;
        align-items: center;
    }
}